.navigation
  display: block
  width: 250px
  height: auto
  position: fixed
  left: 50%
  top: -158px
  margin: 0 0 0 -125px

  &.open
    top: 50%
    margin-top: -75px

    span.cover
      opacity: 1.0

  span.cover
    +transition(all 800ms ease)
    background: rgba(0,0,0,0.5)
    display: none
    z-index: 1
    position: fixed
    width: 100%
    height: 100%
    opacity: 0.0
    left: 0
    top: 0

    &.block
      display: block

  a.home,
  button.opener
    box-sizing: content-box
    position: absolute
    z-index: 3
    top: 100%
    left: 50%
    margin-left: -20px
    margin-top: -1px
    border-radius: 2px
    background: darken(white, 5)
    border: 1px solid black
    border-top: none
    display: block
    cursor: pointer
    height: 20px
    width: 40px
    padding: 0px
    outline: none
    text-align: center

    .icon, .icon:after
      line-height: 20px
      width: 40px
      padding: 0
      height: 20px
      text-align: center

  a.home
    top: -23px
    height: 25px
    border-radius: 2px 2px 0 0
    border-bottom: none

    .icon, .icon:after
      height: 25px
      line-height: 25px

  .middle
    display: block
    position: relative
    background: darken(white, 5)
    border: 1px solid black
    z-index: 2

  .middle-inner
    border: 3px solid black
    background: darken(white, 5)
    margin: 15px


  ul.links
    +clearfix
    position: relative
    list-style: none

    &.top li
      width: 50%
      border-bottom: 3px solid black

    &.bottom li
      width: 33%

    li
      float: left
      height: 60px
      text-align: center
      border-left: 3px solid black

      &:first-child
        border-left: 0px
      
      &.active a.icon,
      &.active .icon:after
        color: adjust_hue(desaturate(lighten(#fae555, 10), 5), 160)

    a.icon,
    .icon:after
      padding: 0
      display: inline-block
      text-decoration: none
      color: darken(white, 80)
      width: 60px
      height: 60px
      line-height: 60px
      font-size: 30px
