.icon
  width: 30px
  height: 30px 
  display: inline-block
  position: relative
  padding: 3px
  background: transparent
  border: none
  outline: none

  &:after
    content: ''
    font-family: 'zocial'
    display: block
    margin: 0 auto
    color: black
    font-size: 20px
    line-height: 30px
    position: relative

  &.ion:after
    font-family: "Ionicons"

  &.location:after
    content: '\f1ff'

  &.bookmarks:after
    content: '\f15c'

  &.close:after
    content: '\f12a'

  &.cart:after
    content: '\f166'

  &.fork:after
    content: '\f27a'

  &.hashtag:after
    content: '\f219'

  &.link:after
    content: '\f220'

  &.info:after
    content: '\f14a'

  &.camera:after
    content: '\f164'

  &.gifts:after
    content: '\f2aa'

  &.home:after
    content: '\f144'

  &.more:after
    content: '\f20b'
