.home.view
  .left-side
    .map(c-bridal-map)
    .text
      h1.display.serif.bold Bridal Shower
      p.addr.lo.serif.display 5 Stone Hollow Road
      p.addr.lo.serif.display Mendon, VT 05701
  .background
    .wedding-date
      .month
        h2.serif.display.regular 6
      .day
        h2.serif.display.bold 26
