.home.view
  .top-section
    .info-tabs.display
      dl.location
        dt.script location
        dd 
          .text
            p The Beldens
      dl.address
        dt.script address
        dd
          .text
            p 291 Stone Hollow Road
            p Mendon VT 05701
    .map(c-bridal-map)
  .bottom-section.contact-stuff
    h2.section-label.display For Questions contact:
    .person
      h1.script Carson Laderoute
      ul.info.display
        li.phone 802-345-7247
        li.email laderoute.carson@gmail.com
    .person
      h1.script Evelyn Belden
      ul.info.display
        li.phone 802-282-3227
        li.email evelynbelden@me.com
