.menu.view
  .inner-view
    .title
      h1.grunge.display menu
    .menu-items.grunge
      dl.libations
        dt libations
        dd 
          ul
            li Bloody Marys
            li Mimosas
            li Wine and Beer
      dl.appetizers
        dt appetizers
        dd 
          ul
            li Shrimp and Cocktail Sauce
            li Meat and Cheese Platter
            li Caprese Bites 
      dl.eats
        dt eats
        dd 
          ul
            li London Broil
            li Kale Caesar Salad
            li Homemade Mac and Cheese
            li Brussel Sprouts with Bacon
            li Homemade Flatbread Pizza
            li Grilled Portobello Mushrooms
            li Grilled Chicken Skewers
      dl.dessert
        dt dessert
        dd
          ul
            li Chocolate Cream Pie
            li No Bake Cookies
            li Chocolate Chip Cookies 

