.registries.view
  ul.registry-list
    li.registry(ng-repeat="registry in registries")
      .background-image(style="background-image: url({{registry.background}})")
      .registry-text
        a.serif.display.bold.registry-link(href="{{registry.url}}") {{registry.name}}
