.rsvp.view
  .content
    .content-top
      h2.label.display bridal shower
      h1.title.display rsvp
      h2.date.display.regular Saturday, April 25
    .rsvp-control(c-rsvp-control guests="guests")
    h2.count.display {{guests.length}} guests expected
  
