doctype html
html
  head
    meta(charset="utf-8")
    title(ct-page-title) carling and tyler
    meta(name="description" value="")
    meta(name="keywords" value="")
    meta(name="viewport" content="width=device-width, user-scalable=no")
    link(rel='stylesheet', href='/vendor/zocial/zocial.css', type='text/css')
    link(rel='stylesheet', href='/vendor/ionicons/css/ionicons.css', type='text/css')
    link(rel='stylesheet', href='/css/app.css', type='text/css')
    // created by Danny Hadley (@dadleyy)
  body
    .whole(c-body-manager)
      .intro(c-intro)
      .main-content
        .nav(c-navigation)
        .page
          div(ng-view)
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA53ekcC5mSOJkzy0-9saNaJB1q2VlRKYU")
    script(type="text/javascript" src="http://fast.fonts.net/jsapi/e207413a-e39f-45ff-9462-1cff780cac7c.js")
    if debug
      script(type='text/javascript', src='/js/vendor.js')
      script(type='text/javascript', src='/js/dist.js')
    else
      script(type='text/javascript', src='/js/app.min.js')
