.navigation
  .top
  .middle
    ul.links
      li.location(ng-class="{active: current_location === 'location'}")
        a.icon.ion.location(href="/location" title="location")
      li.registries(ng-class="{active: current_location === 'registries'}")
        a.icon.ion.gifts(href="/registries" title="registries")
  .bottom
    ul.links
      li.twitter(ng-class="{active: current_location === 'feed'}")
        a.ion.icon.hashtag(href="/feed" title="feed")
