.navigation
  .top
  .middle
    ul.links
      li.location(ng-class="{active: current_location === 'location'}")
        a.icon.ion.location(href="/location" title="location")
      li.registries(ng-class="{active: current_location === 'registries'}")
        a.icon.ion.cart(href="/registries" title="registries")
      li.registries(ng-class="{active: current_location === 'rsvp'}")
        a.icon.ion.bookmarks(href="/rsvp" title="rsvp")
      li.menu(ng-class="{active: current_location === 'menu'}")
        a.icon.ion.fork(href="/menu" title="menu")
  .bottom
    ul.links
      li.twitter(ng-class="{active: current_location === 'feed'}")
        a.ion.icon.camera(href="/feed" title="feed")
